#__next {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
}

.foot-link-tag {
  padding: 10px !important;
}
a.navlink {
  position: relative;
  padding: 10px;
  z-index: 1;
} /* 
a.navlink::after {
  content: "";
  position: absolute;
  background-color: yellow;
  height: 7px;
  width: 0;
  left: 0;
  bottom: 5px;
  transition: 0.3s linear;
}
a.navlink::after:hover {
  width: 100%;
}
*/
a.navlink:hover {
  color: #eaaf56;
}
.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  margin: 0;
  padding: 0;
}

.slide-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow > div:nth-child(1) {
  background-image: url("/main1.jpg");
}
.slideshow > div:nth-child(2) {
  background-image: url("/main3.jpg");
  animation-delay: 10s;
}
.slideshow > div:nth-child(3) {
  background-image: url("/handShake.jpg");
  animation-delay: 30s;
}
/* .slideshow li:nth-child(4) { 
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
} */

.contact {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
